{% extends 'alerts/base.html'%}
{% load alert_extras %}
{% block title %}
Alert for the search in eBay of «{{search_terms}}» 
{% endblock %}

{% block body%}
{% for item in items %}
<div style="border-bottom: thin solid #f0f0f0">
    <table >
	<tr>
	    <th> <img src="{{item.galleryURL}}"> </th>
	    <th><a href="item.viewItemURL">{{item.title}}</a> </th>
	</tr>
	<tr>
	    <td>Categories</td>
	    <td>{{item.primaryCategory.categoryName}},{{item.secondaryCategory.categoryName}}</td>
	</tr>
	<tr>
	    <td>Condition</td>
	    <td>{{item.condition.conditionDisplayName}}</td>
	</tr>
	<tr>
	    <td>Price</td>
	    <td> {{item.sellingStatus.convertedCurrentPrice.value}}  {% under item.sellingStatus.convertedCurrentPrice "_currencyId" %}</td>
	</tr>
	<tr>
	    <td>Shipping Price</td>
	    <td>{{item.shippingInfo.shippingServiceCost.value}} {% under item.shippingInfo.shippingServiceCost "_currencyId" %}</td>
	</tr>
    </table>
</div>
{% endfor %}
{% endblock %}
